body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 130vh;
    /*background-color: #DFE3E5;*/
    background-color: #FEF9CF;
}

.search-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-image: url("/front_back_panal.png");
    background-size: contain;
}

.container {
    position: relative;
    width: 30%;
}

input {
    padding: 15px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
    width: 100%;
    color: #B09D93;
}

input::placeholder {
    color: #B09D93;
}

button {
    background-color: #8E5329;
    padding: 10px;
    position: absolute;
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #654321;
}

.mods {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #8E5329;
}

.mods li {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 800px;
    background-color: #8E5329;
    color: #fff;
}

.image-container {
    width: 80px;
    height: 80px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-right: 20px;
    background-color: #DAA520;
}

.image-container img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 10px;
}

.banner {
    width: 300px;
    margin-right: 20px;
}

.search-container{
    color: #FEF9CF;
}

.descripcion {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.lista-de-mods{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
