---
import { MODS } from "../consts/mods.ts";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="search-container">
      <img src="banner.webp" alt="Icon" class="banner" />
      <div class="container">
        <input type="search" id="buscar" placeholder="BUSCAR" />
        <button><img src="/search.svg" alt="img-search" width="30px" class="search-icon"></button>
      </div>
    </div>
    <div class="lista-de-mods">
      <h1>Lista de mods</h1>
      <ul class="mods">
        {
          MODS.map((mod) => (
            <li>
              <div class="image-container">
                <img src={`/icon/${mod.id}.webp`} alt="Imagen 2" class="img-icon"/>
              </div>
              <div>
                <p class="descripcion">{mod.name}</p>
                <p>{mod.description}</p>
              </div>
            </li>
          ))
        }
      </ul>
    </div>
  </body>
</html>
